@use 'variables';

.text-stroke {
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2.5px;
    -webkit-text-stroke-color: var(--black);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    p {
        margin-bottom: 0px;
    }

    img {
        width: 150px;
        height: auto;
        border-radius: 50%;
        margin-bottom: 1rem;
    }
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            margin-right: 2rem;
            list-style: none;
            &:not(:first-child):before {
                content: "\25CF";
                color: var(--accentSecondary);
                display: inline-block;
                margin-right: 1rem;
            }
        }
    }
}

.wave {
    animation: wave 1s infinite;
    display: inline-block;
    font-size: 1.5rem;
  }

@keyframes wave {
0% {
    transform: rotate(15deg);
}
50% {
    transform: rotate(-15deg);
}
100% {
    transform: rotate(15deg);
}
}
  

.bolder {
    font-weight: 500;
}