.text-stroke {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: var(--black);
}

#about.content {
  display: grid;
  place-items: center;
}

#about {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin-bottom: 0px;
    }

    img {
      height: auto;
      border-radius: 50%;
      margin-bottom: 1rem;
    }
  }

  h2 {
    font-size: 3rem;
  }

  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
      display: grid;
      place-items: center;
      grid-template-columns: auto auto;
      padding-left: 0px;
      grid-column-gap: 8rem;
      margin-bottom: 0px;

      li {
        margin-right: 0px;
        margin-bottom: 0.8rem;
        border-bottom: 1px solid transparent;
        transition: all 300ms ease-in-out;

        &:hover {
          transform: translateY(-3px);
          color: var(--link-hover);
          border-bottom: 1px solid var(--link-hover);
          cursor: default;
        }
      }
    }

    .page-title svg {
      margin-left: -70px;
    }
  }
}

@media (max-width: 700px) {
  #about.content {
    margin-top: 1rem;
  }

  #about {
    h1 {
      text-align: center;
    }
    h2 {
      font-size: 2rem;
    }
    li {
      font-size: 1rem;
    }
    header img {
      width: 100px;
    }
    .skills {
      ul {
        grid-template-columns: 1fr;
      }

      .page-title svg {
        margin-left: -20px;
      }
    }
  }
}

.wave {
  display: inline-block;
  font-size: 1.5rem;
  animation: wave 1s infinite;
}

@keyframes wave {
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(15deg);
  }
}

.bolder {
  font-weight: 500;
}
