@use 'variables';

.text-stroke {
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2.5px;
    -webkit-text-stroke-color: var(--black);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    p {
        margin-bottom: 0px;
    }

    img {
        width: 150px;
        height: auto;
        border-radius: 50%;
        margin-bottom: 1rem;
    }

    @media (max-width: 700px) {
        img {
            width: 100px;
        }

        h1 {
            text-align: center;
        }
    }
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0px;

        li {
            list-style: none;
            
            &:not(:last-child) {
                margin-right: 2rem;
            }

            &:not(:first-child):before {
                content: "\25CF";
                color: var(--accentSecondary);
                display: inline-block;
                margin-right: 1rem;
            }
        }
    }

    @media (max-width: 1100px) {

        ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    
        li {
            margin-right: 0px;
            margin-bottom: 1rem;
    
            &:before {
                content: "\25CF";
                color: var(--accentSecondary);
                display: inline-block;
                margin-right: 0.8rem;
            }
        }
    }

    @media (max-width: 700px) {
        ul {
            grid-template-columns: 1fr;
        }

        li {
            font-size: 1rem;
        }
    }
}

.wave {
    animation: wave 1s infinite;
    display: inline-block;
    font-size: 1.5rem;
  }

@keyframes wave {
0% {
    transform: rotate(15deg);
}
50% {
    transform: rotate(-15deg);
}
100% {
    transform: rotate(15deg);
}
}
  

.bolder {
    font-weight: 500;
}