@use 'variables';
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&family=Roboto:wght@300;500&display=swap");

*::selection {
  background-color: var(--gradientPrimary);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", monospace;
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.2rem;
  margin: 0;
  color: var(--black);
  background: linear-gradient(
    90deg,
    var(--gradientPrimary),
    var(--gradientSecondary)
  );
  display: grid;
  place-items: center;
  // cursor: url(images/cursor.svg), auto;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 3.5rem;
  font-weight: 800;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  text-align: center;
}

p {
  margin: 0.8rem;
  text-align: justify;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 300ms ease-in-out;

  &:hover {
    color: var(--link-hover);
  }
}

ul {
  list-style: none;
  padding-left: 0px;
}

@media (max-width: 700px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
}
