#journal {
  header {
    div {
      // Align page title with arrow svg
      display: flex;
      align-items: center;
    }

    svg {
      fill: var(--accentPrimary);
      width: 70px;
      height: 70px;
      display: block;
      margin-left: -20px;
    }
  }

  h2 {
    font-size: 2rem;
  }
}
.journal-tile {
  margin: 2rem 0 1.5rem 0;
  background-color: rgba(255, 255, 255, 0.35);
  padding: 1rem;
  border-radius: 20px;

  h1 {
    font-size: 2.6rem;
  }

  p {
    margin-left: 0;
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.6;
  }

  ul {
    font-size: 1rem;
    margin: 0;
  }

  img {
    display: block;
    width: 100%;
    height: 400px;
    margin: 1.5rem 0;
    object-fit: cover;
    object-position: bottom;
  }

  .read-more {
    margin: 0;
    display: inline-block;
    font-size: 0.9rem;
    border-bottom: 1px solid transparent;
    transition: all 300ms ease-in-out;
    font-weight: bolder;
  }

  &:hover {
    .read-more {
      transform: translateY(-3px);
      color: var(--link-hover);
      border-bottom: 1px solid var(--link-hover);
    }
  }
}

.journal-info {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: bolder;
  color: var(--accentPrimary);
  letter-spacing: 0.5px;
  margin: 0.5rem 0;

  p {
    margin: 0 0 0 0.5rem;

    &:before {
      content: "\0025CF  ";
      margin-right: 0.3rem;
      color: var(--accentSecondary);
    }
  }
}

#single-post {
  .journal-tile {
    p {
      font-size: 1.1rem;
    }
  }

  .journal-info {
    p {
      font-size: 1rem;
    }
  }
}

@media (max-width: 700px) {
  .journal-tile {
    h1 {
      font-size: 2rem;
    }
  }
  .journal-info {
    p,
    ul {
      font-size: 0.8rem;
    }
  }

  #single-post {
    .journal-tile {
      p {
        font-size: 1rem;
      }
    }

    .journal-info {
      p,
      ul {
        font-size: 0.8rem;
      }
    }
  }
}
