@use 'variables';

// Styles for the layout component

// Navigation bar styles

nav {
    display: flex;
    justify-content: center;
    position: relative;
    border-bottom: 3px solid var(--hr);
    width: 100%;

    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding-left: 0px;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        
        li {
            padding: 5px;
            border-radius: 10px;
            transition: all 400ms linear;
            cursor: pointer;
            &:hover {
                background-color: var(--accentPrimary);
                color: var(--footerTxt);
            }
        }

        li:not(:last-child) {
            margin-right: 3rem;
        }
    }

    button {
        display: block;
        position: absolute;
        right: 20px;
        top: 10px;
        background-color: transparent;
        border: none;
        height: auto;
        transition: all 300ms linear;

        &:active {
            transform: scale(1.3);
        }

        svg {
            width: 40px;
            height: 40px;
            fill: var(--accentPrimary)
        }
        
    }
}

// Main card style (glassmorphism) and padding for inner content

.main-card {
    background-color: rgba(255, 255, 255, 0.5);
    width: 75%;
    margin: 0 auto;
    border-radius: 20px;
    position: relative;
    min-height: 90vh;
}

.content {
    padding: 1rem 3rem 1rem 3rem;
}

// Footer styles

footer {
    color: var(--footerTxt);
    margin-top: 1rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    div {
        display: flex;
    }

    a {
        font-size: 1.7rem;
        display: flex;
        align-items: center;
        
        &:hover {
            color: var(--accentIcons);
            transition: color 400ms ease-in-out;
        }
    }
    
    a:not(:last-child) {
        margin-right: 1rem;
    }
}