#projects {
  header {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  svg {
    fill: var(--accentPrimary);
    width: 70px;
    height: 70px;
    display: block;
    margin-left: -20px;
  }

  h1 {
    display: block;
  }

  h2 {
    font-size: 2rem;
  }

  ul {
    list-style: none;
    margin: 0.5rem 0;
    padding-left: 0;
    display: flex;

    li {
      margin-right: 1rem;
      font-size: 1rem;

      &:not(:first-child):before {
        content: "\0025CF  ";
        margin-right: 0.3rem;
        color: var(--accentSecondary);
      }
    }
  }

  .project-links {
    svg {
      width: 30px;
    }

    div {
      display: flex;
    }

    a {
      margin-right: 1rem;
      font-size: 1rem;
      display: flex;
      align-items: center;
    }
  }

  img {
    width: 40%;
    height: auto;
    filter: grayscale(1);
    transition: all 300ms ease-in-out;
    margin: 0 1rem;
    border-radius: 10px;

    &:hover {
      filter: none;
    }
  }

  .project-tile {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 1rem;
    border-radius: 20px;

    p {
      margin-left: 0;
      max-width: 550px;
    }
  }
}
