:root {
  --black: #1c1c1c;
  --gradientPrimary: #55d2c9;
  --gradientSecondary: #f5ff89;
  --accentPrimary: #52bbb4;
  --accentSecondary: #f2c234;
  --accentIcons: #3aa49d;
  --hr: white;
  --menuBg: white;
  --footerTxt: #1c1c1c;
  --link-hover: #31968f;
}

.dark-mode {
  --black: #1a1a1a;
  --gradientPrimary: #036d68;
  --gradientSecondary: #782465;
  --accentPrimary: #007871;
  --accentSecondary: #782465;
  --accentIcons: #149690;
  --hr: #782465;
  --menuBg: #222222;
  --footerTxt: white;
  --link-hover: #1b5451;
}
