:root {
  --black: #1c1c1c;
  --gradientPrimary: #4bc6bd;
  --gradientSecondary: #f5ff89;
  --accentPrimary: #4fb5ae;
  --accentSecondary: #f2c234;
  --accentIcons: #3aa49d;
  --hr: white;
  --menuBg: white;
  --footerTxt: #1c1c1c;
  --link-hover: #31968f;
  --focus: rgba(56, 152, 169, 0.5);
}

.dark-mode {
  --black: #1a1a1a;
  --gradientPrimary: #036d68;
  --gradientSecondary: #782465;
  --accentPrimary: #007871;
  --accentSecondary: #782465;
  --accentIcons: #149690;
  --hr: #782465;
  --menuBg: #222222;
  --footerTxt: white;
  --link-hover: #1b5451;
  --focus: rgba(51, 119, 131, 0.5);
}
